.container {
  padding-top: 20px;
  padding-left: 20px;
  height: 300px;
  width: 300px;
  background-color: #000000;
}
.box {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 10% 10% rgb(23, 32, 90);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10%;
}

.box_circle {
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid #ffffff;
  border-radius: 50%; */
  box-sizing: border-box;
}

.span_h {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.span_h:nth-child(1) {
  transform: rotate(0deg);
}

.span_h:nth-child(2) {
  transform: rotate(180deg);
}

.span_h:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  /* border: 2px solid white;
  box-sizing: border-box; */
  background: #f7cb49;
  animation: animate_h 4s linear infinite;
}

@keyframes animate_h {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

.span_v {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.span_v:nth-child(3) {
  transform: rotate(0deg);
}

.span_v:nth-child(4) {
  transform: rotate(180deg);
}

.span_v:before {
  content: "";
  position: absolute;
  right: 0;
  width: 1px;
  height: 100%;
  /* border: 2px solid white;
  box-sizing: border-box; */
  background: #f7cb49;
  animation: animate_v 4s linear infinite;
}

@keyframes animate_v {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  50% {
    transform: scaleY(1);
    transform-origin: top;
  }
  50.1% {
    transform: scaleY(1);
    transform-origin: bottom;
  }

  100% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
}

.selected:before {
  background: #09ff00;
}

.span_cir {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
}

.span_cir:before {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  box-shadow: 2px 2px 20px rgb(23, 32, 90), -2px -2px 20px rgb(23, 32, 90);
  animation: animate_cir 4s linear infinite;
}

@keyframes animate_cir {
  0% {
    transform: rotate(0);
    /* transform-origin: left; */
  }
  50% {
    transform: rotate(180deg);
    /* transform-origin: left; */
  }
  100% {
    transform: rotate(360deg);
    /* transform-origin: right; */
  }
}
