body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Calibri";
  src: local("Calibri"), url(./fonts/Calibri.ttf) format("truetype");
}
@font-face {
  font-family: "DIN_Condensed_Bold";
  src: local("DIN_Condensed_Bold"),
    url(./fonts/DIN_Condensed_Bold.ttf) format("truetype");
}
